//clearfix
.clearfix {
    @include clearfix;
}

// header
.main-header--ghost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #ebebeb;
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    &.show-header {
        transform: translateY(0);
    }
    &.hidden-header {
        transform: translateY(-100%);
    }
}

//default container width
.container {
    @include wrap-flex;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.container-fluid {
    @include wrap-flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

// containers media
@each $size in $screen {
    @include media-breakpoint-only($size) {
        @include container($size);
    }
}

// widths
.full-width-viewport,
.full-width {
    position: relative;
    width: 100vw!important;
    max-width: 100vw!important;
    left: 50%;
    margin-right: 0!important;
    margin-left: -50vw!important;
}
.w-100 {
    width: $w-100;
}
.w-vw {
    width: $w-vw;
}

// heights
.h-100 {
    height: $h-100;
}
.h-vh {
    height: $h-vh;
}

// display flex
.d-flex {
    @include d-flex;
}
.d-inline-flex  {
    @include d-inline-flex;
}
@each $size in $screen {
    @include media-breakpoint-down($size) {
        .d-#{$size}-flex {
            @include d-flex;
        }
        .d-#{$size}-inline-flex {
            @include d-inline-flex;
        }
    }
}

// flex direction
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-column {
    flex-direction: column;
}
.flex-column-reverse {
   flex-direction: column-reverse;
}
@each $size in $screen {
    @include media-breakpoint-down($size) {
        .flex-#{$size}-row {
            flex-direction: row;
        }
        .flex-#{$size}-row-reverse {
            flex-direction: row-reverse;
        }
        .flex-#{$size}-column {
            flex-direction: column;
        }
        .flex-#{$size}-column-reverse {
           flex-direction: column-reverse;
        }
    }
}

// justify content
.justify-content-start {
    justify-content: flex-start!important;
}
.justify-content-end {
    justify-content: flex-end!important;
}
.justify-content-center {
    justify-content: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.justify-content-around {
    justify-content: space-around!important;
}
// align items
.align-items-start{
    align-items: flex-start!important;
}
.align-items-center {
    align-items: center!important;
}
.align-items-end {
    align-items: flex-end!important;
}
// align self
.align-self-start{
    align-self: flex-start!important;
}
.align-self-center {
    align-self: center!important;
}
.align-self-end {
    align-self: flex-end!important;
}

@each $size in $screen {
    @include media-breakpoint-down($size) {
        // justify content
        .justify-content-#{$size}-start {
            justify-content: flex-start!important;
        }
        .justify-content-#{$size}-end {
            justify-content: flex-end!important;
        }
        .justify-content-#{$size}-center {
            justify-content: center!important;
        }
        .justify-content-#{$size}-between {
            justify-content: space-between!important;
        }
        .justify-content-#{$size}-around {
            justify-content: space-around!important;
        }
        // align items
        .align-items-#{$size}-start{
            align-items: flex-start!important;
        }
        .align-items-#{$size}-center {
            align-items: center!important;
        }
        .align-items-#{$size}-end {
            align-items: flex-end!important;
        }
        // align self
        .align-self-#{$size}-start{
            align-self: flex-start!important;
        }
        .align-self-#{$size}-center {
            align-self: center!important;
        }
        .align-self-#{$size}-end {
            align-self: flex-end!important;
        }
    }
}

// gutters
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

//order 12 cols
@for $col from 1 through $cols {
    .order-#{$col} {
        order: $col;
    }
}
@each $size in $screen {
    @for $col from 0 through $cols {
        @include media-breakpoint-down($size) {
            .order-#{$size}-#{$col}{
                order: $col;
            }
        }
    }
}

// offset
@for $offset from 0 through $cols {
    .offset-#{$offset} { // se cumple
        @include offset($offset);
    }
}
@each $size in $screen {
    @for $offset from 0 through $cols {
        @include media-breakpoint-down($size) {
            .offset-#{$size}-#{$offset}{
            // .child-#{$size}-offset-#{$offset} > .col {
                @include offset($offset);
            }
        }
    }
}

// text atributes
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

// position
.position-static {
    position: static;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-sticky {
    position: sticky;
}

// defaults backgrounds
.bg-success {
    background-color: $success-color;
}
.bg-warning {
    background-color: $warning-color;
}
.bg-danger {
    background-color: $danger-color;
}
.bg-white {
    background-color: $white;
}
.bg-black {
    background-color: $black;
}
.bg-light-gray {
    background-color: $light-color;
}
.bg-dark-gray {
    background-color: $dark-gray;
}