// breakpoints
$breakpoints: (
  'xs'       :             460px,
  'sm'       :             760px,
  'md'       :             1366px,
  'lg'       :             1536px,
  'xl'       :             1700px
) !default;

// breakpoints sizes
$screen:                   xl, lg, md, sm, xs;

// cols
$cols:                     12;

// cols-margin
$child-spacing:            3;//5

// cols-spacing
$spacings:                 5;

// default containers
$container-xs:             100%;
$container-sm:             calc(100% - 10px);
$container-md:             calc(100% - 20px);
$container-lg:             1300px;
$container-xl:             1500px;

// colors
$primary-color:            #007bff;
$secondary-color:          #6C757D;
$success-color:            #28A745;
$warning-color:            #ffc107;
$danger-color:             #DC3545;
$white:                    white;
$black:                    black;
$light-color:              #ebebeb;
$dark-gray:                #1a1a1a;

// metricals
$percent:                  100%;
$auto:                     auto;
$rem:                      1rem;
$em:                       1em;

// widths
$w-auto:                   $auto;
$w-100:                    $percent;
$w-vh:                     100vh;

// heights
$h-auto:                   $auto;
$h-100:                    $percent;
$h-vh:                     100vh;

// fluid containers
$container-fluid:          $percent;
$container-fluid-90:       90%;
$container-fluid-80:       80%;

// body
$body-color:               $black;
$body-bg:                  $white;

// typography
$font-family-sans-serif:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:        Georgia, "Times New Roman", Times, serif;
$font-family-monospace:    Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:         $font-family-sans-serif;
$font-size-base:           $rem;
$font-size-large:          calc($font-size-base * 1.125); // ~18px
$font-size-small:          calc($font-size-base * 0.875); // ~14px
$font-weight-base:         400;
$font-weight-bolder:       600;
$line-height-base:         1.5;
$headings-font-family:     $font-family-base;
$headings-font-weight:     500;
$headings-line-height:     1.1;
$headings-margin-bottom:   $rem;
$paragraph-margin-bottom:  $rem;

// links
$link-color:               $secondary-color;
$link-color-hover:         $black;
$link-decoration:          none;

// table
$table-cell-padding:       0;
$table-caption-color:      $dark-gray;
$table-caption-color:      $black;