// col presets
[class^=col-],
.col {
    @include position-relative;
    @include d-flex;
    @include flex-wrap;
}

[class*=child-spacing-] {
    @include justify-content-space-between();
}

.col {
    @include col-size;
}

@for $col from 1 through $cols {
    // se cumple y deroga row-cols-{sizes} y child-col{sizes}
    .row .col-#{$col} ,
    .child-col-#{$col} > * {
        @include col-default($col);
    }
    .row.row-cols-#{$col} > * {
        @include row-cols($col);
    }
    @for $spacing from 1 through $child-spacing {
        // se cumple y deroga col-{cols}
        .row .child-col-#{$col}.child-spacing-#{$spacing} > *,
        .child-col-#{$col}.child-spacing-#{$spacing} > * {
            @include col($col,$spacing);
        }
    }
}

// grid
@each $size in $screen {
    // se cumple
    @for $col from 1 through $cols {
        // se cumple
        @include media-breakpoint-only($size) {
            .row.row-cols-#{$size}-#{$col} > * {
                @include row-cols($col);
            }
            .child-col-#{$size}-#{$col} > *,
            .col-#{$size}-#{$col},
            .row .col-#{$size}-#{$col} {
                @include col-default($col);
            }
            @for $spacing from 1 through $child-spacing {
                .row .child-col-#{$size}-#{$col}.child-spacing-#{$spacing} > *,
                .child-col-#{$size}-#{$col}.child-spacing-#{$spacing} > * {
                    @include col($col,$spacing);
                }
            }
        }
    }
    // se cumple
    @include media-breakpoint-down($size) {
        .col-#{$size},
        .row .col-#{$size},
        .row .child-col-#{$size} > *,
        .child-col-#{$size} > * {
            @include col-size();
        }
    }
}

// row col
.row {
    @include position-relative;
    @include d-flex;
    @include flex-wrap;
    width: $percent;
    margin-left: -15px;
    margin-right: -15px;
    left: 15px;
    .row {
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
}