body.sidebar {
    aside,.sidebar { //default sidebar left
        &.sidebar--right {
            order: 2;
        }
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex: 0 0 300px;
        max-width: 300px;
        min-height: 100px;
        background: #ebebeb;
        @include media-breakpoint-down(md) {
            flex: 0 0 200px;
            max-width: 200px;
        }
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        min-height: 100px;
        max-width: calc(100% - 350px);
        @include media-breakpoint-down(md) {
            max-width: calc(100% - 220px);
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
}