//spacing

.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}

// spacing
@for $spacing from 0 through $spacings {
  
  .p-#{$spacing} {
    @include spacing-pt($spacing);
    @include spacing-pb($spacing);
    @include spacing-pr($spacing);
    @include spacing-pl($spacing);
  }
  .m-#{$spacing} {
    @include spacing-mt($spacing);
    @include spacing-mb($spacing);
    @include spacing-mr($spacing);
    @include spacing-ml($spacing);
  }

  // padding
  .pt-#{$spacing},.py-#{$spacing} {
    @include spacing-pt($spacing);
  }
  .pb-#{$spacing},.py-#{$spacing} {
    @include spacing-pb($spacing);
  }
  .pb-#{$spacing},.py-#{$spacing} {
    @include spacing-pb($spacing);
  }
  .pr-#{$spacing},.px-#{$spacing} {
    @include spacing-pr($spacing);
  }
  .pl-#{$spacing},.px-#{$spacing} {
    @include spacing-pl($spacing);
  }

  // margin
  .mt-#{$spacing},.my-#{$spacing} {
    @include spacing-mt($spacing);
  }
  .mb-#{$spacing},.my-#{$spacing} {
    @include spacing-mb($spacing);
  }
  .mb-#{$spacing},.my-#{$spacing} {
    @include spacing-mb($spacing);
  }
  .mr-#{$spacing},.mx-#{$spacing} {
    @include spacing-mr($spacing);
  }
  .ml-#{$spacing},.mx-#{$spacing} {
    @include spacing-ml($spacing);
  }

}

// spacing media
@for $spacing from 0 through $spacings {
  @each $size in $screen {
    @include media-breakpoint-only($size) {

        // padding
        .pt-#{$size}-#{$spacing},.py-#{$size}-#{$spacing} {
          @include spacing-pt($spacing);
        }
        .pb-#{$size}-#{$spacing},.py-#{$size}-#{$spacing} {
          @include spacing-pb($spacing);
        }
        .pb-#{$size}-#{$spacing},.py-#{$size}-#{$spacing} {
          @include spacing-pb($spacing);
        }
        .pr-#{$size}-#{$spacing},.px-#{$size}-#{$spacing} {
          @include spacing-pr($spacing);
        }
        .pl-#{$size}-#{$spacing},.px-#{$size}-#{$spacing} {
          @include spacing-pl($spacing);
        }

        // margin
        .mt-#{$size}-#{$spacing},.my-#{$size}-#{$spacing} {
          @include spacing-mt($spacing);
        }
        .mb-#{$size}-#{$spacing},.my-#{$size}-#{$spacing} {
          @include spacing-mb($spacing);
        }
        .mb-#{$size}-#{$spacing},.my-#{$size}-#{$spacing} {
          @include spacing-mb($spacing);
        }
        .mr-#{$size}-#{$spacing},.mx-#{$size}-#{$spacing} {
          @include spacing-mr($spacing);
        }
        .ml-#{$size}-#{$spacing},.mx-#{$size}-#{$spacing} {
          @include spacing-ml($spacing);
        }

    }
  }
}

