// breakpoints
$breakpoints: (
  'xs'       :             460px,
  'sm'       :             760px,
  'md'       :             1366px,
  'lg'       :             1536px,
  'xl'       :             1700px
) !default;

// breakpoints sizes
$screen:                   xl, lg, md, sm, xs;

// cols
$cols:                     12;

// cols-spacing
$cols-spacing:             2;

// default containers
$container-xs:             100%;
$container-sm:             calc(100% - 10px);
$container-md:             calc(100% - 20px);
$container-lg:             1300px;
$container-xl:             1500px;

// colors
$primary-color:            #007bff;
$secondary-color:          #6C757D;
$success-color:            #28A745;
$warning-color:            #ffc107;
$danger-color:             #DC3545;
$white:                    white;
$black:                    black;
$light-color:              #ebebeb;
$dark-gray:                #1a1a1a;

// metricals
$percent:                  100%;
$auto:                     auto;
$rem:                      1rem;
$em:                       1em;

// widths
$w-auto:                   $auto;
$w-100:                    $percent;
$w-vh:                     100vh;

// heights
$h-auto:                   $auto;
$h-100:                    $percent;
$h-vh:                     100vh;

// fluid containers
$container-fluid:          $percent;
$container-fluid-90:       90%;
$container-fluid-80:       80%;

// body
$body-color:               $black;
$body-bg:                  $white;

// sizes col default
$size-col-1:               8.333333%;
$size-col-2:               16.666667%;
$size-col-3:               25%;
$size-col-4:               33.333333%;
$size-col-5:               41.666667%;
$size-col-6:               50%;
$size-col-7:               58.333333%;
$size-col-8:               66.666667%;
$size-col-9:               75%;
$size-col-10:              83.333333%;
$size-col-11:              91.666667%;
$size-col-12:              100%;

// sizes col default
$size-col-1-flex:          0 0 #{$size-col-1};
$size-col-2-flex:          0 0 #{$size-col-2};
$size-col-3-flex:          0 0 #{$size-col-3};
$size-col-4-flex:          0 0 #{$size-col-4};
$size-col-5-flex:          0 0 #{$size-col-5};
$size-col-6-flex:          0 0 #{$size-col-6};
$size-col-7-flex:          0 0 #{$size-col-7};
$size-col-8-flex:          0 0 #{$size-col-8};
$size-col-9-flex:          0 0 #{$size-col-9};
$size-col-10-flex:         0 0 #{$size-col-10};
$size-col-11-flex:         0 0 #{$size-col-11};
$size-col-12-flex:         0 0 #{$size-col-12};

// sizes col x1
$size-col-1-x1:          calc(#{$size-col-1} - 20px);
$size-col-2-x1:          calc(#{$size-col-2} - 20px);
$size-col-3-x1:          calc(#{$size-col-3} - 20px);
$size-col-4-x1:          calc(#{$size-col-4} - 20px);
$size-col-5-x1:          calc(#{$size-col-5} - 20px);
$size-col-6-x1:          calc(#{$size-col-6} - 20px);
$size-col-7-x1:          calc(#{$size-col-7} - 20px);
$size-col-8-x1:          calc(#{$size-col-8} - 20px);
$size-col-9-x1:          calc(#{$size-col-9} - 20px);
$size-col-10-x1:         calc(#{$size-col-10} - 20px);
$size-col-11-x1:         calc(#{$size-col-11} - 20px);
$size-col-12-x1:         calc(#{$size-col-12} - 20px);

// sizes col flex x1
$size-col-1-flex-x1:          0 0 calc(#{$size-col-1} - 20px);
$size-col-2-flex-x1:          0 0 calc(#{$size-col-2} - 20px);
$size-col-3-flex-x1:          0 0 calc(#{$size-col-3} - 20px);
$size-col-4-flex-x1:          0 0 calc(#{$size-col-4} - 20px);
$size-col-5-flex-x1:          0 0 calc(#{$size-col-5} - 20px);
$size-col-6-flex-x1:          0 0 calc(#{$size-col-6} - 20px);
$size-col-7-flex-x1:          0 0 calc(#{$size-col-7} - 20px);
$size-col-8-flex-x1:          0 0 calc(#{$size-col-8} - 20px);
$size-col-9-flex-x1:          0 0 calc(#{$size-col-9} - 20px);
$size-col-10-flex-x1:         0 0 calc(#{$size-col-10} - 20px);
$size-col-11-flex-x1:         0 0 calc(#{$size-col-11} - 20px);
$size-col-12-flex-x1:         0 0 calc(#{$size-col-12} - 20px);

// typography
$font-family-sans-serif:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:        Georgia, "Times New Roman", Times, serif;
$font-family-monospace:    Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:         $font-family-sans-serif;
$font-size-base:           $rem;
$font-size-large:          ceil($font-size-base * 1.125); // ~18px
$font-size-small:          ceil($font-size-base * 0.875); // ~14px
$font-weight-base:         400;
$font-weight-bolder:       600;
$line-height-base:         1.5;
$headings-font-family:     $font-family-base;
$headings-font-weight:     500;
$headings-line-height:     1.1;
$headings-margin-bottom:   $rem;
$paragraph-margin-bottom:  $rem;

// links
$link-color:               $secondary-color;
$link-color-hover:         $black;
$link-decoration:          none;

// table
$table-cell-padding:       0;
$table-caption-color:      $dark-gray;
$table-caption-color:      $black;