// col
.col-auto {
    @include col-flex;
}
@for $col from 1 through $cols {
    .col-#{$col} {
        @include col-flex;
    }
    @each $size in $screen {
        @include media-breakpoint-down($size) {
            .col-#{$size}-#{$col},
            .col-#{$size}-auto {
                @include col-flex;;
            }
        }
    }
}
.col {
    @include col-flex;
    min-height: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid rgba(86,61,124,.2);
    left: 0;
}

// grid
@for $col from 1 through $cols {
    .col-#{$col}, // se cumple
    .child-col-#{$col} > .col {
        $spacing : 1;
        @include col-default($col);
    }
    @for $spacing from 1 through $cols-spacing {
        .col-#{$col}.x#{$spacing},
        .child-col-#{$col}.x#{$spacing} > .col {
            @include col($col,$spacing);
        }
    }
    @each $size in $screen {
        @include media-breakpoint-down($size) {
            @for $col from 1 through $cols {
                .col-#{$size}-#{$col},
                .child-#{$size}-col-#{$col} > .col {
                    @include col-default($col);
                }
                @for $spacing from 1 through $cols-spacing {
                    .col-#{$size}-#{$col}.x#{$spacing},
                    .child-#{$size}-col-#{$col}.x#{$spacing} > .col {
                        @include col($col,$spacing);
                    }
                }
            }
        }
    }
}
// row col
.row {
    @include col-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $percent;
    margin-left: -15px;
    margin-right: -15px;
    left: 15px;
    .row {
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
}