// col
.col-auto {
    @include col-flex;
}
.col {
    @include col-flex;
    min-height: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid rgba(86,61,124,.2);
    left: 0;
}

// grid
@for $col from 1 through $cols {
    // se cumple
    .col-#{$col} ,
    .child-col-#{$col} > * {
         @include col-default($col);
    }
    .row-cols-#{$col} > * {
        @include row-cols($col);
    }
    @for $spacing from 1 through $cols-spacing {
        .child-col-#{$col}.spacing-#{$spacing} > *,
        .col-#{$col}.spacing-#{$spacing} {
            @include col($col,$spacing);
        }
    }
    @each $size in $screen {
        @include media-breakpoint-down($size) {
            .col-#{$size}-#{$col},
            .col-#{$size}-#{$col},
            .col-#{$size}-auto {
                @include col-flex;
            }
        }
    }
}
@each $size in $screen {
    @for $col from 1 through $cols {
        @include media-breakpoint-down($size) {
            .row-cols-#{$size}-#{$col} > * {
                @include row-cols($col);
            }
            .child-col-#{$size}-#{$col} > *,
            .col-#{$size}-#{$col} {
                @include col-default($col);
            }
            @for $spacing from 1 through $cols-spacing {
                .child-col-#{$size}-#{$col}.spacing-#{$spacing} > *{
                // .col-#{$size}-#{$col}.spacing-#{$spacing} { Se deshabilita sapcing en cols individuales
                    @include col($col,$spacing);
                }
            }
        }
    }
}

// row col
.row {
    @include col-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $percent;
    margin-left: -15px;
    margin-right: -15px;
    left: 15px;
    .row {
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
}