// col
.col-auto {
    @include col-flex;
}
@for $col from 1 through $cols {
    .col-#{$col} {
        @include col-flex;
    }
    @each $size in $screen {
        @include media-breakpoint-down($size) {
            .col-#{$size}-#{$col},
            .col-#{$size}-auto {
                @include col-flex;
            }
        }
    }
}
.col {
    @include col-flex;
    min-height: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid rgba(86,61,124,.2);
    left: 0;
}

// grid
@each $size in $screen {
    @for $col from 1 through $cols {
        @include media-breakpoint-down($size) {
            .row-cols-#{$size}-#{$col} > *,
            .row .col-#{$size}-#{$col} {
                @include col-default($col);
            }
            @for $spacing from 1 through $cols-spacing {
                .row-cols-#{$size}-#{$col}.x#{$spacing} > *,
                .row .col-#{$size}-#{$col}.x#{$spacing} {
                    @include col($col,$spacing);
                }
            }

        }
    }
}
@for $col from 1 through $cols {
   @for $spacing from 1 through $cols-spacing {
       .row-cols-#{$col}.x#{$spacing} > *,
       .row .col-#{$col}.x#{$spacing} {
           @include col($col,$spacing);
       }
    }
    // se cumple
    .row-cols-#{$col} > *,
    .row .col-#{$col} {
        $spacing : 1;
        @include col-default($col);
    }
}
// row col
.row {
    @include col-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $percent;
    margin-left: -15px;
    margin-right: -15px;
    left: 15px;
    .row {
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
}