// breakpoints
@mixin media-breakpoint-down($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}
@mixin media-breakpoint-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}
@mixin media-breakpoint-only($breakpoint) {
    @if $breakpoint == xl {
      $breakpoint : lg;
      @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          @content;
        }
      }
    }
    @if $breakpoint == lg {
      $breakpoint : lg;
      $upper: lg;
      $lower: md;
      @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $lower)) and (max-width: map-get($breakpoints, $upper)) {
          @content;
        }
      }
    }
    @if $breakpoint == md {
      $breakpoint : md;
      $upper: md;
      $lower: sm;
      @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $lower)) and (max-width: map-get($breakpoints, $upper)) {
          @content;
        }
      }
    }
    @if $breakpoint == sm {
      $breakpoint : sm;
      @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
          @content;
        }
      }
    }
    @if $breakpoint == xs {
      $breakpoint : xs;
      @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
          @content;
        }
      }
    }
}
@mixin media-breakpoint-between($lower, $upper) {
    @if map-has-key($breakpoints, $lower) {
      @media (min-width: map-get($breakpoints, $lower)) and (max-width: map-get($breakpoints, $upper)) {
        @content;
      }
    }
}

// clearfix
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}

@mixin offset($offset) {
  @if $offset == 0 {
    margin-left: 0;
  }
  @if $offset == 1 {
      margin-left: $size-col-1;
  }
  @if $offset == 2 {
      margin-left: $size-col-2;
  }
  @if $offset == 3 {
      margin-left: $size-col-3;
  }
  @if $offset == 4 {
      margin-left: $size-col-4;
  }
  @if $offset == 5 {
      margin-left: $size-col-5;
  }
  @if $offset == 6 {
      margin-left: $size-col-6;
  }
  @if $offset == 7 {
      margin-left: $size-col-7;
  }
  @if $offset == 8 {
      margin-left: $size-col-8;
  }
  @if $offset == 9 {
      margin-left: $size-col-7;
  }
  @if $offset == 10 {
      margin-left: $size-col-10;
  }
  @if $offset == 11 {
      margin-left: $size-col-11;
  }
  @if $offset == 12 {
      margin-left: $size-col-12;
  }
}

// row cols
@mixin row-cols($row-col) {
  @if $row-col == 1 {
    flex: $row-col-1-flex;
    max-width: $row-col-1;
  }
  @if $row-col == 2 {
    flex: $row-col-2-flex;
    max-width: $row-col-2;
  }
  @if $row-col == 3 {
    flex: $row-col-3-flex;
    max-width: $row-col-3;
  }
  @if $row-col == 4 {
    flex: $row-col-4-flex;
    max-width: $row-col-4;
  }
  @if $row-col == 5 {
    flex: $row-col-5-flex;
    max-width: $row-col-5;
  }
  @if $row-col == 6 {
    flex: $row-col-6-flex;
    max-width: $row-col-6;
  }
  @if $row-col == 7 {
    flex: $row-col-7-flex;
    max-width: $row-col-7;
  }
  @if $row-col == 8 {
    flex: $row-col-8-flex;
    max-width: $row-col-8;
  }
  @if $row-col == 9 {
    flex: $row-col-9-flex;
    max-width: $row-col-9;
  }
  @if $row-col == 10 {
    flex: $row-col-10-flex;
    max-width: $row-col-10;
  }
  @if $row-col == 11 {
    flex: $row-col-11-flex;
    max-width: $row-col-11;
  }
  @if $row-col == 12 {
    flex: $row-col-12-flex;
    max-width: $row-col-12;
  }
}

// cols
@mixin col-default($col) {
  @if $col == 1 {
      flex: $size-col-1-flex;
      max-width: $size-col-1;
  }
  @if $col == 2 {
      flex: $size-col-2-flex;
      max-width: $size-col-2;
  }
  @if $col == 3 {
      flex: $size-col-3-flex;
      max-width: $size-col-3;
  }
  @if $col == 4 {
      flex: $size-col-4-flex;
      max-width: $size-col-4;
  }
  @if $col == 5 {
      flex: $size-col-5-flex;
      max-width: $size-col-5;
  }
  @if $col == 6 {
      flex: $size-col-6-flex;
      max-width: $size-col-6;
  }
  @if $col == 7 {
      flex: $size-col-7-flex;
      max-width: $size-col-7;
  }
  @if $col == 8 {
      flex: $size-col-8-flex;
      max-width: $size-col-8;
  }
  @if $col == 9 {
      flex: $size-col-7-flex;
      max-width: $size-col-7;
  }
  @if $col == 10 {
      flex: $size-col-10-flex;
      max-width: $size-col-10;
  }
  @if $col == 11 {
      flex: $size-col-11-flex;
      max-width: $size-col-11;
  }
  @if $col == 12 {
      flex: $size-col-12-flex;
      max-width: $size-col-12;
  }
}

// cols
@mixin col($col,$spacing) {
    @if $col == 1 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-1} - #{$rem}*.5);
          max-width: calc(#{$size-col-1} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-1} - #{$rem});
          max-width: calc(#{$size-col-1} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-1} - #{$rem}*2);
          max-width: calc(#{$size-col-1} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(12n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+12) {
          margin-bottom: 0;
        }
    }
    @if $col == 2 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-2} - #{$rem}*.5);
          max-width: calc(#{$size-col-2} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-2} - #{$rem});
          max-width: calc(#{$size-col-2} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-2} - #{$rem}*2);
          max-width: calc(#{$size-col-2} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(6n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+6) {
          margin-bottom: 0;
        }
    }
    @if $col == 3 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-3} - #{$rem}*.5);
          max-width: calc(#{$size-col-3} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-3} - #{$rem});
          max-width: calc(#{$size-col-3} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-3} - #{$rem}*2);
          max-width: calc(#{$size-col-3} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+4) {
          margin-bottom: 0;
        }
    }
    @if $col == 4 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-4} - #{$rem}*.5);
          max-width: calc(#{$size-col-4} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-4} - #{$rem});
          max-width: calc(#{$size-col-4} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-4} - #{$rem}*2);
          max-width: calc(#{$size-col-4} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+3) {
          margin-bottom: 0;
        }
    }
    @if $col == 5 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-5} - #{$rem}*.5);
          max-width: calc(#{$size-col-5} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-5} - #{$rem});
          max-width: calc(#{$size-col-5} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-5} - #{$rem}*2);
          max-width: calc(#{$size-col-5} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
    }
    @if $col == 6 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-6} - #{$rem}*.5);
          max-width: calc(#{$size-col-6} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-6} - #{$rem});
          max-width: calc(#{$size-col-6} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-6} - #{$rem}*2);
          max-width: calc(#{$size-col-6} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
    }
    @if $col == 7 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-7} - #{$rem}*.5);
          max-width: calc(#{$size-col-7} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-7} - #{$rem});
          max-width: calc(#{$size-col-7} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-7} - #{$rem}*2);
          max-width: calc(#{$size-col-7} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
    @if $col == 8 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-8} - #{$rem}*.5);
          max-width: calc(#{$size-col-8} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-8} - #{$rem});
          max-width: calc(#{$size-col-8} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-8} - #{$rem}*2);
          max-width: calc(#{$size-col-8} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
    @if $col == 9 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-9} - #{$rem}*.5);
          max-width: calc(#{$size-col-9} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-9} - #{$rem});
          max-width: calc(#{$size-col-9} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-9} - #{$rem}*2);
          max-width: calc(#{$size-col-9} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
    @if $col == 10 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-10} - #{$rem}*.5);
          max-width: calc(#{$size-col-10} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-10} - #{$rem});
          max-width: calc(#{$size-col-10} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-10} - #{$rem}*2);
          max-width: calc(#{$size-col-10} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
    @if $col == 11 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-11} - #{$rem}*.5);
          max-width: calc(#{$size-col-11} - #{$rem}*.5);
          margin-right: $rem*.5;
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-11} - #{$rem});
          max-width: calc(#{$size-col-11} - #{$rem});
          margin-right: $rem;
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-11} - #{$rem}*2);
          max-width: calc(#{$size-col-11} - #{$rem}*2);
          margin-right: $rem*2;
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
    @if $col == 12 {
        @if $spacing == 1 {
          flex: 0 0 calc(#{$size-col-12} - #{$rem}*.5);
          max-width: calc(#{$size-col-12} - #{$rem}*.5);
          margin-bottom: $rem*.5;
        }
        @if $spacing == 2 {
          flex: 0 0 calc(#{$size-col-12} - #{$rem});
          max-width: calc(#{$size-col-12} - #{$rem});
          margin-bottom: $rem;
        }
        @if $spacing == 3 {
          flex: 0 0 calc(#{$size-col-12} - #{$rem}*2);
          max-width: calc(#{$size-col-12} - #{$rem}*2);
          margin-bottom: $rem*2;
        }
        &:nth-last-child(-n+1) {
          margin-bottom: 0;
        }
    }
}

// cont flex
@mixin col-flex {
  position: relative;
  display: flex;
}

// display
@mixin wrap-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@mixin d-flex {
  display: flex;
}
@mixin d-inline-flex {
  display: inline-flex;
}

// flex direction
@mixin flex-row  {
  flex-direction: row;
}
@mixin flex-row-reverse {
  flex-direction: row-reverse;
}
@mixin flex-column {
  flex-direction: column;
}
@mixin flex-column-reverse {
  flex-direction: column-reverse;
}

// justify content
@mixin justify-content-start {
  justify-content: flex-start!important;
}
@mixin justify-content-end {
  justify-content: flex-end!important;
}
@mixin justify-content-center {
  justify-content: center!important;
}
@mixin justify-content-between {
  justify-content: space-between!important;
}
@mixin justify-content-around {
  justify-content: space-around!important;
}

// padding
@mixin spacing-pt($spacing) {
  @if $spacing == 5 {
    padding-top: $rem*3;
  }
  @if $spacing == 4 {
    padding-top: $rem*1.5;
  }
  @if $spacing == 3 {
    padding-top: $rem;
  }
  @if $spacing == 2 {
    padding-top: $rem*.5;
  }
  @if $spacing == 1 {
    padding-top: $rem*.25;
  }
}
@mixin spacing-pb($spacing) {
  @if $spacing == 5 {
    padding-bottom: $rem*3;
  }
  @if $spacing == 4 {
    padding-bottom: $rem*1.5;
  }
  @if $spacing == 3 {
    padding-bottom: $rem;
  }
  @if $spacing == 2 {
    padding-bottom: $rem*.5;
  }
  @if $spacing == 1 {
    padding-bottom: $rem*.25;
  }
}
@mixin spacing-pr($spacing) {
  @if $spacing == 5 {
    padding-right: $rem*3;
  }
  @if $spacing == 4 {
    padding-right: $rem*1.5;
  }
  @if $spacing == 3 {
    padding-right: $rem;
  }
  @if $spacing == 2 {
    padding-right: $rem*.5;
  }
  @if $spacing == 1 {
    padding-right: $rem*.25;
  }
}
@mixin spacing-pl($spacing) {
  @if $spacing == 5 {
    padding-left: $rem*3;
  }
  @if $spacing == 4 {
    padding-left: $rem*1.5;
  }
  @if $spacing == 3 {
    padding-left: $rem;
  }
  @if $spacing == 2 {
    padding-left: $rem*.5;
  }
  @if $spacing == 1 {
    padding-left: $rem*.25;
  }
}
// margin
@mixin spacing-mt($spacing) {
  @if $spacing == 5 {
    margin-top: $rem*3;
  }
  @if $spacing == 4 {
    margin-top: $rem*1.5;
  }
  @if $spacing == 3 {
    margin-top: $rem;
  }
  @if $spacing == 2 {
    margin-top: $rem*.5;
  }
  @if $spacing == 1 {
    margin-top: $rem*.25;
  }
}
@mixin spacing-mb($spacing) {
  @if $spacing == 5 {
    margin-bottom: $rem*3;
  }
  @if $spacing == 4 {
    margin-bottom: $rem*1.5;
  }
  @if $spacing == 3 {
    margin-bottom: $rem;
  }
  @if $spacing == 2 {
    margin-bottom: $rem*.5;
  }
  @if $spacing == 1 {
    margin-bottom: $rem*.25;
  }
}
@mixin spacing-mr($spacing) {
  @if $spacing == 5 {
    margin-right: $rem*3;
  }
  @if $spacing == 4 {
    margin-right: $rem*1.5;
  }
  @if $spacing == 3 {
    margin-right: $rem;
  }
  @if $spacing == 2 {
    margin-right: $rem*.5;
  }
  @if $spacing == 1 {
    margin-right: $rem*.25;
  }
}
@mixin spacing-ml($spacing) {
  @if $spacing == 5 {
    margin-left: $rem*3;
  }
  @if $spacing == 4 {
    margin-left: $rem*1.5;
  }
  @if $spacing == 3 {
    margin-left: $rem;
  }
  @if $spacing == 2 {
    margin-left: $rem*.5;
  }
  @if $spacing == 1 {
    margin-left: $rem*.25;
  }
}