// breakpoints
@mixin media-breakpoint-down($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}
@mixin media-breakpoint-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}
@mixin media-breakpoint-only($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}
@mixin media-breakpoint-between($lower, $upper) {
    @if map-has-key($breakpoints, $lower) {
      @media (min-width: map-get($breakpoints, $lower)) and (max-width: map-get($breakpoints, $upper)) {
        @content;
      }
    }
}
// clearfix
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}

// cols
@mixin col($col) {
    @if $col == 1 {
        flex: $size-col-1-flex;
        max-width: $size-col-1;
    }
    @if $col == 2 {
        flex: $size-col-2-flex;
        max-width: $size-col-2;
    }
    @if $col == 3 {
        flex: $size-col-3-flex;
        max-width: $size-col-3;
    }
    @if $col == 4 {
        flex: $size-col-4-flex;
        max-width: $size-col-4;
        left: 0;
    }
    @if $col == 5 {
        flex: $size-col-5-flex;
        max-width: $size-col-5;
    }
    @if $col == 6 {
        flex: $size-col-6-flex;
        max-width: $size-col-6;
    }
    @if $col == 7 {
        flex: $size-col-7-flex;
        max-width: $size-col-7;
    }
    @if $col == 8 {
        flex: $size-col-8-flex;
        max-width: $size-col-8;
    }
    @if $col == 9 {
        flex: $size-col-9-flex;
        max-width: $size-col-9;
    }
    @if $col == 10 {
        flex: $size-col-10-flex;
        max-width: $size-col-10;
    }
    @if $col == 11 {
        flex: $size-col-11-flex;
        max-width: $size-col-11;
    }
    @if $col == 12 {
        flex: $size-col-12-flex;
        max-width: $size-col-12;
    }
}