*,
*::before,
*::after {
  box-sizing: border-box;
  //text-rendering: optimizeLegibility;
  font-kerning: auto;
  outline: 0 !important;
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
}
body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

// default hr style
hr {
  width: $percent;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  background-color:  $light-color;
  overflow: visible;
  margin: $rem*2 0;
}

// typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}
h1 {font-size: $rem*3;}
h2 {font-size: $rem*2;}
h3 {font-size: $rem*1.5;}
h4,h5,h6 {font-size: $rem;}
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
  &:last-of-type {
    margin-bottom: 0;
  }
}

//
abbr,
abbr[title],
abbr[data-original-title],
address,
span,
strong {
  display: contents;
  font-style: normal;
  line-height: inherit;
}
abbr,
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
}

// list default style
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: $rem;
  ol,
  ul,
  dl {
    margin: 1rem 0;
    margin-left: $rem;
  }
  ol:last-of-type,
  ul:last-of-type,
  dl:last-of-type {
    margin-bottom: 0;
  }
}

// font style
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: $font-weight-bolder;
}
sub,
sup {
  position: relative;
  font-size: $rem*0.75;
  line-height: 0;
  vertical-align: baseline;
}
sub { bottom: -$rem*.25; }
sup { top: -$rem*.5; }

// links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  &:hover {
    color:  $link-color-hover;
  }
}

// code
pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
}
pre {
  margin-top: 0;
  margin-bottom: $rem;
  overflow: auto;
}
code {
  font-size: $rem*.875;
  color: #e83e8c;
  //word-break: break-word;
}

// figure
figure {
  margin: 0 0 $rem*1.5;
}
img {
  vertical-align: middle;
  border-style: none;
}
.object-fit-cover img,
img.object-fit-cover {
    height: $percent;
    width: $percent;
    max-width: $percent;
    max-height: $percent;
    object-fit: cover;
    object-position: center center;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}