//spacing
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}

@for $spacing from 1 through $spacings {
  // padding
  .pt-#{$spacing},.py-#{$spacing} {
    @include spacing-pt($spacing);
  }
  .pb-#{$spacing},.py-#{$spacing} {
    @include spacing-pb($spacing);
  }
  .pb-#{$spacing},.py-#{$spacing} {
    @include spacing-pb($spacing);
  }
  .pr-#{$spacing},.px-#{$spacing} {
    @include spacing-pr($spacing);
  }
  .pl-#{$spacing},.px-#{$spacing} {
    @include spacing-pl($spacing);
  }
  
  // margin
  .mt-#{$spacing},.my-#{$spacing} {
    @include spacing-mt($spacing);
  }
  .mb-#{$spacing},.my-#{$spacing} {
    @include spacing-mb($spacing);
  }
  .mb-#{$spacing},.my-#{$spacing} {
    @include spacing-mb($spacing);
  }
  .mr-#{$spacing},.mx-#{$spacing} {
    @include spacing-mr($spacing);
  }
  .ml-#{$spacing},.mx-#{$spacing} {
    @include spacing-ml($spacing);
  }
}