@import 'boogo';

$color-primary: #BB72FE;

// default theme


body {
    overflow-x: hidden;
    @include media-breakpoint-down(sm) {
    height: auto!important;
    }
}

a,
.link-gradient {
    color: transparent;
    @include gradient-bg;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    font-weight: 600;
    &:hover {
        color: transparent;
        @include gradient-bg;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        background-clip: text;
        opacity: 0.8;
    }   
}

a.link-gradient {
    color: transparent !important;
    &:hover {
        color: transparent !important;
    }   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #555;
}

// scroll line
#scrollLine {
    position: fixed;
    background: #ebebeb;
    width: 5px;
    height: 0;
    -webkit-transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    -o-transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s, -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    top: 0;
    left: 0;
    z-index: 6;
    .trackLine {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include gradient-bg;
    }
}

// custom
.btn {
    &:hover {
        opacity: 1;
    }
}

.btn-gradient {
    @include gradient-bg;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: 0;
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0);
    box-shadow: 0 0px 10px rgba(0,0,0,0);
    margin: 0;
    -webkit-transform: translate(0) scale(1) rotate(0);
    -ms-transform: translate(0) scale(1) rotate(0);
    transform: translate(0) scale(1) rotate(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50px;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
    font-weight: 600;
    }
    &:hover {
        color: #fff;
        @include gradient-bg;
        border: 0;
        -webkit-box-shadow: 0 0px 10px rgba(0,0,0,.2);
        box-shadow: 0 0px 10px rgba(0,0,0,.2);
    }
    i {
        font-size: 1.2rem;
        position: relative;
        top: 2px;
        margin-right: 5px;
    }
}
.text-mask-gradient {
    @include gradient-bg;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
}
.circle-item {
    border-radius: 100%;
    overflow: hidden;
}
.container {
    min-height: 50px;
}

.selector {
    color: red;
    @include media-breakpoint-between(xs,md) {
      width: $w-100;
    }
}

.logo--version {
    font-family: "Lobster",cursive;
    font-size: 1rem;
    font-weight: lighter;
}

// header
.main-header--ghost {
    .logo {
        font-family: "Lobster",cursive;
        font-size: 3rem;
        user-select: none;
        a {
            position: relative;
            top: -5px;
            padding: 0 2px;
            font-weight: 400;
            &:hover {
                text-decoration: none;
            }
        }
    }
    background: rgba(255, 255, 255,0);
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0);
    box-shadow: 0 0px 10px rgba(0,0,0,0);
    nav.main-menu  {
        ul {
            li {
                span {
                    background: -o-linear-gradient(135deg, #BB72FE, #C483FE, #F17E8A, #FB6281);
                    background: linear-gradient(-45deg, #BB72FE, #C483FE, #F17E8A, #FB6281);
                    background-size: 400% 400%;
                    -webkit-animation: gradient 15s ease infinite;
                    animation: gradient 15s ease infinite;
                }
                li, a {
                    color: #555;
                }
            }	
        }
    }  
}

.sticky-header {
    background: rgba(255, 255, 255,1);
    -webkit-box-shadow: 0 0px 10px rgba(0,0,0,.1);
    box-shadow: 0 0px 10px rgba(0,0,0,.1);
}

// parallax content
.parallax-content {
    -webkit-transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    -o-transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s, -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    @include media-breakpoint-down(sm) {
        -webkit-transition: none!important;
        -o-transition: none!important;
        transition: none!important;
        -webkit-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
    }
}


// boogo scrolling
#boogo-scrolling {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    -o-transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s, -webkit-transform .8s cubic-bezier(.1,.3,.1,1) 0s!important;
    z-index: 0;
    @include media-breakpoint-down(sm) {
        position: relative;
        -webkit-transition: none!important;
        -o-transition: none!important;
        transition: none!important;
        -webkit-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
    }
}

// social links
nav.main-menu {
    .social--links {
        li {
            font-size: 1.2rem;
            margin: 0 0.5rem;
        }
    }
}
//home
.home {
    z-index: -1;
    background: rgba(235,235,235,1);
    background: -o-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(235,235,235,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=1 );
    .home-info {
        z-index: 1;
        .home--title {
            font-size: 7rem;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            line-height: .75;
            color: transparent;
            padding: 5px 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 1;
            @include media-breakpoint-down(sm) {
            font-size: 5.5rem;
            }
        }
        .home--hr {
            position: relative;
            width: 70%;
            left: -20%;
            height: 1px;
            background: #E0E0E0;
            margin: 1.5rem 0;
            z-index: 1;
        }
        .home--desc {
            color: #555;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 1;
        }
    }
    .version--info {
        position: absolute;
        bottom: 30px;
        font-size: 0.8rem;
        color: #b9b9b9;
        z-index: 1;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    } 
    .home-logo--watermark {
        position: absolute;
        right: -7rem;
        bottom: -7rem;
        font-size: 30rem;
        color: $white;
        font-family: "Lobster",cursive;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        opacity: .5;
        z-index: 0;
    }
}

// section
.section--wrapper {
    position: relative;
    padding: 100px 0;
    background: #fff;
    z-index: 2;
    @include media-breakpoint-only(sm) { 
    padding: 60px 0;
    }
    .wrap-section--title {
        margin-bottom: 100px;
        @include media-breakpoint-only(sm) { 
        margin-bottom: 50px;
        }
        .section--title {
            font-family: "Raleway",sans-serif;
            font-size: 3.5rem;
            line-height: 1.1;
            color: #555;
            font-weight: lighter;
            text-align: center;
            @include media-breakpoint-only(sm) { 
            font-size: 2rem;
            }
        }
        .hr--title {
            position: relative;
            width: 200px;
            height: 5px;
            @include gradient-bg;
        }
    }
    .item-title--info {
        font-size: 2.5rem;
        line-height: 1.1;
    } 
    .section-info--wrapper {
        .wrapper-logo {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            z-index: 0;
            .small-boogo {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -20px;
                text-align: center;
                color: transparent;
                font-family: "Lobster",cursive;
                font-size: 22rem;
                font-weight: lighter;
                line-height: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
        .info--image {
            position: absolute;
            background: #fff;
            width: 500px;
            height: 500px;
            right: 2rem;
            top: 0;
            z-index: 1;
            & img {
                position: relative;
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
        #video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.15;
        }
        .image--backing {
            position: relative;
            width: 500px;
            height: 500px;
            right: 0;
            top: 2rem;
            z-index: 0;
            @include gradient-bg;
        }
        @include media-breakpoint-only(sm) { 
        text-align: center;
        }
    }
}

// how to use
#how-to-use {
    @include gradient-bg;
    .section--title,
    .section--info {
        color: #fff;
    }
    .hr--title {
        background: #fff;
    }
    .item-cards {
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
    }
}

footer {
    background: rgba(2235,235,235,1);
    background: -o-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(235,235,235,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(235,235,235,1) 100%);
    color: #555;
    .footer-info {
        font-size: .87rem;
        a {
            display: inline-block;
            width: auto;
        }
    }
}