.rounded-circle {
  border-radius: $percent/2;
}
.rounded-left {
  border-top-left-radius: $rem*.25;
  border-bottom-left-radius: $rem*.25;
}
.rounded-right {
  border-top-right-radius: $rem*.25;
  border-bottom-right-radius: $rem*.25;
}
.rounded-top {
  border-top-left-radius: $rem*.25;
  border-top-right-radius: $rem*.25;
}
.rounded-bottom {
  border-bottom-right-radius: $rem*.25;
  border-bottom-left-radius: $rem*.25;
}
// borders
.border {
  border: 1px solid  $light-color!important;
}
.border-top {
  border-top: 1px solid  $light-color!important;
}
.border-right {
  border-right: 1px solid  $light-color!important;
}
.border-bottom {
  border-bottom: 1px solid  $light-color!important;
}
.border-left {
  border-left: 1px solid  $light-color!important;
}
.border-0 {
  border: none !important;
}
.border-primary {
  border-color: $primary-color!important;
}
.border-secondary {
  border-color: $secondary-color!important;
}
.border-success {
  border-color: $success-color!important;
}
.border-warning {
  border-color: $warning-color!important;
}
.border-danger {
  border-color: $danger-color!important;
}