[data-page-scroll] {
    position: fixed;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    transition: transform .8s cubic-bezier(.1,.3,.1,1) 0s;
    z-index: 0;
}

body[data-box-scroll] {
    width: 100%;
    height: 100%;
    & > [class*=scroll-parent] {
        width: 100%!important;
        height: 100%!important;
        & > [class*=scroll-content] {
            width: 100%!important;
        }
    }
}

[data-box-scroll] {
    overflow: hidden !important;
    [class*=scroll-parent] {
        position: absolute;
        width: calc(100% + 15px);
        overflow: auto!important;
        top: 0;
        left: 1px;
    }
    [class*=scroll-content] {
        position: relative;
        height: auto!important;
    }
    [class*=scroll-content] {
        width: auto!important;
        display: inline-block;
        padding-right: 17px;
    }
    [class*=track_] {
        position: absolute;
        background: #555;
        opacity: .2;
        transition: .7s cubic-bezier(.05,.3,.1,1) 0s;
        z-index: 3;
        border-radius: 5px;
        cursor: pointer;
    }
    [class*=track_v-] {
        width: 6px;
        height: auto;
        right: 1px;
        top: 0;
    }
    [class*=track_h-] {
        width: auto;
        height: 6px;
        left: 0;
        bottom: 1px;
    }
    &:hover {
        [class*=track_] {
            opacity: 1;
        }
    }
    [class*=track_]:active {
        opacity: 1;
    }
}

// [box-goscroll]::-webkit-scrollbar {
//     display: none;
//     -ms-overflow-style: none;
// }
// [box-goscroll] {
//     -ms-overflow-style: none;
//     overflow: -moz-scrollbars-none;
//     -ms-overflow-style: none;  /* Internet Explorer 10+ */
//     scrollbar-width: none;  /* Firefox */
// }